@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Space+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", sans-serif;
}

body {
    background-color: #ab5663;
    background-image: linear-gradient(rgba(180, 180, 180, 0.5), rgba(180, 180, 180, 0.5)), url(../image.png);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 1240px;
    margin-inline: auto;
    background: linear-gradient(180deg, rgba(255,236,122,1) 0%, rgba(255,236,122,1) 15%, rgba(205,205,205,1) 15%, rgba(205,205,205,1) 16%, rgba(255,236,122,1) 16%, rgba(255,236,122,1) 30%, rgba(205,205,205,1) 30%, rgba(205,205,205,1) 31%, rgba(255,236,122,1) 31%, rgba(255,236,122,1) 60%, rgba(205,205,205,1) 60%, rgba(205,205,205,1) 61%, rgba(255,236,122,1) 61%, rgba(255,236,122,1) 75%, rgba(205,205,205,1) 75%, rgba(205,205,205,1) 76%, rgba(255,236,122,1) 76%, rgba(255,236,122,1) 90%, rgba(205,205,205,1) 90%, rgba(205,205,205,1) 91%, rgba(255,236,122,1) 91%, rgba(255,236,122,1) 100%);
    border-radius: .25rem;
    box-shadow: 10px 10px 10px #00000061;
    margin-top: 1rem;
}

ul,li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #484848;
    position: relative;
}

a:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #484848;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}

a:hover:after {
    transform-origin: left;
    transform: scaleX(1);
}

input, select, button {
    background-color: rgb(255, 246, 193) ;
    border: none;
    border-radius: 1rem;
}

p {
    font-family: "Kalam", sans-serif;
    color: #484848;
}

main {
    margin-top: 3rem;
    margin-inline: auto;
    width: 1240px;
}

footer {
    width: 1240px;
    margin-inline: auto;
    margin-bottom: 0px;
    margin-top: 30px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background: rgba(255,236,122,1)
}

.navbar{
    display: flex;
    gap: 30px;
    padding: 1rem;
}

.navbar-link {
    font-size: 1.25rem;
    color: #484848;
}

.agregar-container {
    display: flex;
    gap: 2rem;
}

.agregar {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 100%;
    padding: 1.75rem;
    padding-top: 0;
    gap: 1rem;
    box-shadow: 8px 15px 10px #00000061;
    background: rgba(255,236,122,1);
    /* overflow: hidden; */
    position: relative
}

.agregar::before{
    border-color: rgb(255 236 122 / 0%) rgba(255,236,122,1) rgba(255,236,122,1) #ab566300;
    border-style: solid;
    border-width: 0 0 30px 30px;
    /* box-shadow: 6px 5px 7px #00000061; */
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -30px;
    width: 320px;
}

.agregar::after {
    border-color: #ab566300 rgb(253, 222, 43) rgb(253, 222, 43) #ab566300;
    border-style: solid;
    border-width: 0 0 30px 30px;
    box-shadow: 4px 5px 5px #00000061;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -30px;
    width: 0;
}



.ventas-resumen{
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background: rgba(255,236,122,1);
    box-shadow: 8px 15px 10px #00000061;
}

.ventas-resumen-cliente {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.container{
    display: grid;
    margin-top: 30px;
    grid-template-columns: 1fr 1fr 1fr;
}

.post{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 100%;
    padding: 1.75rem;
    gap: 1rem;
    box-shadow: 8px 15px 10px #00000061;
    background: rgba(255,236,122,1);
    position: relative;
}


.pin {
    --pin-color: #0788b5;
    --pin-dark: #044878;
    --pin-light: #3dcdff;

    position: absolute;
    right: -30px;
    top: -10px;
    width: 60px;
    height: 50px;
}

.shadow {
    position: absolute;
    top: 18px;
    left: -8px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: radial-gradient(var(--paper-shadow), 20%, rgba(201, 191, 141, 0));
}

.metal {
    position: absolute;
    width: 5px;
    height: 20px;
    background: linear-gradient(to right, #808080, 40%, #eae8e8, 50%, #808080);
    border-radius: 0 0 30% 30%;
    transform: rotate(50deg);
    transform-origin: bottom left;
    top: 15px;
    border-bottom: 1px solid #808080;
}

.bottom-circle {
    position: absolute;
    right: 15px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--pin-color);
    background: radial-gradient(
    circle at bottom right,
    var(--pin-light),
    25%,
    var(--pin-dark),
    90%,
    var(--pin-color)
    );
}

  /* Barrel */
.bottom-circle::before {
    content: "";
    position: absolute;
    top: 0;
    left: -2px;
    width: 20px;
    height: 30px;
    transform: rotate(55deg);
    transform-origin: 100% 100%;
    border-radius: 0 0 40% 40%;
    background: linear-gradient(
    to right,
    var(--pin-dark),
    30%,
    var(--pin-color),
    90%,
    var(--pin-light)
    );
}

  /* Top circle */
.bottom-circle::after {
    content: "";
    position: absolute;
    right: -10px;
    top: -5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: radial-gradient(
    circle at right,
    var(--pin-light),
    30%,
    var(--pin-color),
    var(--pin-dark) 80%
    );
}

.oculto{
    display: none;
}

