@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Space+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kalam", sans-serif;
    transition: .4s ease all;
}

body.preload *{
    transition: none;
}

body {
    background: linear-gradient(#b4b4b480, #b4b4b480), url(../images/fondo.webp);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.body-dark{
    background: linear-gradient(#44444480, #44444480), url(../images/fondo-dark.webp);
}

header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 1360px;
    margin-inline: auto;
    background: #ffec7a;
    border-radius: .25rem;
    box-shadow: 10px 10px 10px #00000061;
    box-shadow:
        0 1px 1px rgba(0,0,0,0.20),
        0 10px 0 -5px #ffec7a,
        0 10px 1px -4px rgba(0,0,0,0.20),
        0 20px 0 -10px #ffec7a,
        0 20px 1px -9px rgba(0,0,0,0.20);
}

body.body-dark header{
    background: #7b46ab;
    box-shadow:
    0 1px 1px rgba(0,0,0,0.20),
    0 10px 0 -5px #7b46ab,
    0 10px 1px -4px rgba(0,0,0,0.20),
    0 20px 0 -10px #7b46ab,
    0 20px 1px -9px rgba(0,0,0,0.20);
}

ul,li {
    list-style-type: none;
}

h1,h2,h3{
    font-family: "Space Mono", sans-serif;
}

body.body-dark h1{
    color: #dddcdc;
}
body.body-dark h2{
    color: #dddcdc;
}
body.body-dark h3{
    color: #dddcdc;
}

h2{
    font-size: 22px;
}

a {
    text-decoration: none;
    color: #484848;
    position: relative;
}

body.body-dark a{
    color: #dddcdc;
}

a:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #484848;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}

body.body-dark a:after{
    background: #dddcdc;
}

body.body-dark p{
    color: #dddcdc;
}

a:hover:after {
    transform-origin: left;
    transform: scaleX(1);
}

input, select {
    background-color: #fff6c1 ;
    border: none;
    border-radius: 1rem;
    padding: 5px;
    font-size: 16px;
    max-width: 230px;
}

body.body-dark input{
    background-color: #be8fe9;
}

body.body-dark select{
    background-color: #be8fe9;
}

main {
    margin-top: 3rem;
    margin-inline: auto;
    width: 1360px;
    display: flex;
}

.navbar{
    display: flex;
    gap: 30px;
    padding: 1rem;
}

.navbar-link {
    font-size: 1.25rem;
    color: #484848;
}

.agregar-container {
    display: flex;
    gap: 4rem;
    flex-direction: column;
    margin-top: 90px;
}

.maquina{
    font-family: "Space Mono", sans-serif; 
    color: #303030;
    font-size: 20px;
}

body.body-dark .maquina{
    color: #dddcdc;
}

.mano{
    font-family: "Kalam", sans-serif;
    color: #484848;
    font-size: 20px;
}

body.body-dark .mano{
    color: #dddcdc;
}

.cuaderno{
    background: linear-gradient(to bottom,white 29px,#a2eeff 1px);
    box-shadow: 0px 0px 5px 0px #888;
    width:1000px;
    background-size: 100% 30px;
    position:relative;
    padding-top:50px;
    padding-left:60px;
    overflow:visible;
    border-radius:5px;
    margin-left: 20px;
}

body.body-dark .cuaderno{
    background: linear-gradient(to bottom,#2f4693  29px,#5c5c5c 1px);
    box-shadow: 0px 0px 5px 0px rgb(34, 34, 34);
    background-size: 100% 30px;
}

.cuaderno::before {
    content:'';
    display:block;
    position:absolute;
    z-index:1;
    top:0;
    left:50px;
    height:100%;
    width:1px;
    background:#db4034;
}

body.body-dark .cuaderno::before{
    background:#dddcdc;
}

body.body-dark .swal2-styled.swal2-confirm {
    background-color: #7b46ab !important;
    color: #dddcdc !important;
}
.swal2-styled.swal2-confirm {
    background-color: #fff6c1 !important;
    color: #484848 !important;
}

.swal2-input{
    margin-inline: auto;
}

.agregar {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 1.75rem;
    padding-top: 0;
    gap: 1rem;
    box-shadow: 8px 15px 10px #00000061;
    background: #ffec7a;
    position: relative;
}

body.body-dark .agregar{
    background: #7b46ab
}

.agregar::before{
    border-color: rgb(255 236 122 / 0%) #ffec7a #ffec7a #ab566300;
    border-style: solid;
    border-width: 0 0 30px 30px;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -30px;
    width: 320px;
}

body.body-dark .agregar::before{
    border-color: #ffec7a00 #7b46ab #7b46ab #ab566300;
}

.agregar::after {
    border-color: #ab566300 #fdde2b #fdde2b #ab566300;
    border-style: solid;
    border-width: 0 0 30px 30px;
    box-shadow: 4px 5px 5px #00000061;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -30px;
    width: 0;
}

body.body-dark .agregar::after{
    border-color: #ffec7a00 #50207c #50207c #ab566300;
}

.agregar-form{
    display: flex;
}

.ventas-resumen{
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    margin-left: -10px;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
}

body.body-dark .ventas-resumen{
    border-top: 1px solid #ddcdcd;
    border-bottom: 1px solid #ddcdcd;
}

.ventas-resumen-cliente {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.container{
    display: grid;
    margin-top: 30px;
    grid-template-columns: 1fr 1fr;
    margin-left: 30px;
}

.post{
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 1.75rem;
    gap: 1rem;
    box-shadow: 8px 15px 10px #00000061;
    background: rgba(255,236,122,1);
    position: relative;
    margin: 30px;
    height: fit-content;
}

body.body-dark .post{
    background: #7b46ab;
}

.swal2-popup{
    background: #ffec7a !important; 
}
.swal2-input{
    margin-inline: auto !important; 
}

body.body-dark .swal2-popup{
    background: #7b46ab !important; 
}

.swal2-popup::after{
    content: "";
    display: block;
    width: 150px;
    height: 35px;
    position: relative;
    top: 15px;
    left: 220px;
    margin: auto;
    background: rgba(255,255,200,0.6);
    box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
    transform: rotate(-35deg);
}
.swal2-popup::before{
    content: "";
    display: block;
    width: 150px;
    height: 35px;
    position: relative;
    bottom: 0px;
    right: 230px;
    margin: auto;
    background: rgba(255,255,200,0.6);
    box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
    transform: rotate(-35deg);
}

body.body-dark  .swal2-html-container{
    color: #ddcdcd;
}

.pin {
    --pin-color: #0788b5;
    --pin-dark: #044878;
    --pin-light: #3dcdff;

    position: absolute;
    right: -30px;
    top: -10px;
    width: 60px;
    height: 50px;
}

body.body-dark .pin{
    --pin-color: #e12020;
    --pin-dark: #720303;
    --pin-light: #ff9e9e;
}

.shadow {
    position: absolute;
    top: 18px;
    left: -8px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: radial-gradient(var(--paper-shadow), 20%, rgba(201, 191, 141, 0));
}

.metal {
    position: absolute;
    width: 5px;
    height: 20px;
    background: linear-gradient(to right, #808080, 40%, #eae8e8, 50%, #808080);
    border-radius: 0 0 30% 30%;
    transform: rotate(50deg);
    transform-origin: bottom left;
    top: 15px;
    border-bottom: 1px solid #808080;
}

.bottom-circle {
    position: absolute;
    right: 15px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--pin-color);
    background: radial-gradient(
    circle at bottom right,
    var(--pin-light),
    25%,
    var(--pin-dark),
    90%,
    var(--pin-color)
    );
}

.bottom-circle::before {
    content: "";
    position: absolute;
    top: 0;
    left: -2px;
    width: 20px;
    height: 30px;
    transform: rotate(55deg);
    transform-origin: 100% 100%;
    border-radius: 0 0 40% 40%;
    background: linear-gradient(
    to right,
    var(--pin-dark),
    30%,
    var(--pin-color),
    90%,
    var(--pin-light)
    );
}

.bottom-circle::after {
    content: "";
    position: absolute;
    right: -10px;
    top: -5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: radial-gradient(
    circle at right,
    var(--pin-light),
    30%,
    var(--pin-color),
    var(--pin-dark) 80%
    );
}

.clima-container {
    position: fixed;
    top: 10%;
    right: 0;
    display: flex;
    flex-direction: row;
    opacity: 0;
    visibility: hidden;
    color: #fff5ee;
    border-bottom-left-radius: 1rem ;
    transform: translateX(100%) ;
}

body.body-dark .clima-container{
    color: #484848;
}

.clima-container.active{
    opacity: 1 ;
    visibility: visible;    
    transform: translateX(0)
}

.boton-clima{
    position: absolute;
    top: 0;
    right: 0;
    height: 80px;
    width: 80px;
    background-color: #ffec7a ;
    border: none;
    outline: none;
    padding: 10px;
    box-shadow: -3px 5px 5px #00000061; ;
    cursor: pointer;
    background-image: url(../images/umbrella.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 70%;
}

body.body-dark .boton-clima{
    background-color: #50207c;
    background-image: url(../images/umbrella2.svg);
}

.boton-clima:hover{
    height: 83px;
    width: 83px;
}

span.paper-clip {
    background: transparent;
    height: 40px;
    width: 15px;
    border-radius: 10px;
    border: 2px solid #585858;
    display: inline-block;
    position: absolute;
    top: -17px;
    right: -9px;
    transform: rotateZ(45deg);
}

span.paper-clip:after {
    width: 9px;
    height: 15px;
    content: " ";
    background: transparent;
    display: block;
    position: absolute;
    right: 2px;
    top: 5px;
    border-radius: 10px;
    border: 2px solid #585858;
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.dia{
    font-size: 22px;
    grid-area: dia;
    justify-self: center;
    color: #fff5ee;
}

body.body-dark .dia{
    color: #303030;
}

.descripcion{
    font-size: 20px;
    font-weight: 100;
    grid-area: desc ;
}

body.body-dark .descripcion{
    color: #303030;
}

body.body-dark .minValues{
    color: #303030;
}

body.body-dark .maxValues{
    color: #303030;
}

.image{
    grid-area: img;
    width: 100px;
}

.imgClass{
    transform: scale(1.5);
}

.icons{
    display: grid;
    grid-template-areas: 
    "dia dia"
    "img desc"
    "img min"
    "img max";
    background-color: #272727a4;
    border-top-left-radius: 1rem ;
    border-bottom-left-radius: 1rem ;
    padding: .5rem;
    border: 3px solid transparent;
    margin: 4px 0;
}

body.body-dark .icons{
    background-color: #a5a5a5d9;
}

img{
    width: 100%;
}

.boton{
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 100%;
    margin-left: 90%;
}

.boton-principal {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 100%;
}

.boton-container{
    display: flex;
    gap: 10px;
    margin-left: 15px;
}

.contador-cantidad{
    width: 40px;
    text-align: center;
}

.form-container{
    margin-top: 120px;
}

.switch{
    background: #90aafd;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    width: 60px;
    justify-content: space-evenly;
    transition: .3s ease all;
}

.switch::after{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: none;
    outline: none;
    transition: .3s ease all;
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.1);
}

.switch-dark{
    background: #ffef5e;
    transition: .3s ease all;
}

.switch-dark::after{
    transition: .3s ease all;
    transform: translateX(100%);
    box-shadow: -1px 1px 2px 2px rgba(0,0,0,0.1);
}

.icon{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mode{
    width: 20px;
    height: 20px;
}

.oculto{
    display: none;
}

span{
    text-decoration: underline;
}

.typed{
    text-decoration: none;
    font-family: "Space Mono", sans-serif; 
    display: inline-block;
}

.typed-cursor{
    font-family: "Space Mono", sans-serif;
    text-decoration: none;
}

.typedB{
    text-decoration: none;
    font-family: "Space Mono", sans-serif; 
    display: inline-block;
}

.typedB-cursor{
    font-family: "Space Mono", sans-serif;
    text-decoration: none;
}

footer {
    width: 1360px;
    margin-inline: auto;
    margin-top: auto;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background: #ffec7a;
    flex-grow: 1;
    max-height: 40px;
    flex-grow: 1;
    text-align: center;
    padding: 10px;
}

body.body-dark footer{
    background: #50207c;
}